.translation {
  text-align: left;
  margin: 0 auto;
}

.word-traslated {
  color: var(--font-color_light);
}

.translation {
}

.word-item {
  margin-top: 10px;
  font-size: var(--medium-font-size);
}
