.word-description {
  margin-bottom: 20px;
}

.word-description-title {
  margin-bottom: 0px;
}

.das-article, .n-article{
  color: var(--neuter-color);
}

.der-article, .m-article{
  color: var(--masculine-color);
}

.die-article, .f-article{
  color: var(--feminine-color);
}

.pl-article{
  color: var(--plural-color);

}

.genre {
  font-style: italic;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
