.das-article, .n-article{
  color: var(--neuter-color);
}

.der-article, .m-article{
  color: var(--masculine-color);
}

.die-article, .f-article{
  color: var(--feminine-color);
}

.pl-article{
  color: var(--plural-color);

}