.content-home-page {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 20px;
  min-width: fit-content;
  padding-top: 70px;
  position: relative;
  z-index: 1;
}

.home-page-logo {
  width: 250px;
}

.search-word-form {
  position: relative;
  margin: 0 auto;
  margin-top: 40px;
}

.search-word-input {
  border: 1px solid #cad3db;
  width: var(--search-input-width_desktop);
 
  padding: 15px 20px 15px 50px;
  outline: none;

  box-shadow: var(--box-shadow);
}

.search-icon {
  position: absolute;
  left: 15px;
  top: 15px;
}

.words-list {
  min-width: var(--search-input-width_desktop);
}

.words-list-container {
  margin-top: calc(var(--margin) * 1);
  max-width: var(--search-input-width_desktop);
}
