:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --margin: 20px;
  --border-radius: 8px;

  --primary-color: #206a5d;
  --primary-color_light: #206a5d;
  --font-color: #1f1f1f;
  --font-color_light: #5e5e5e;
  --box-shadow: 0 1px 6px 0 var(--color-box-shadow);
  --color-box-shadow: #20212447;

  --bold-font-weight: 600;
  --semi-bold-font-weight: 500;
  --normal-font-weight: 400;

  --search-input-width: 600px;

  --small-font-size: 12px;
  --medium-font-size: 14px;
  --large-font-size: 17px;

  --error-color: #c34c4c;

  --neuter-color: #a4a4a4;
  --masculine-color: #4c8ac3;
  --feminine-color: #c34c4c;
}

*,
::before,
::after {
  background-repeat: no-repeat;
  box-sizing: inherit;
  -webkit-box-sizing: inherit;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  color: var(--font-color);
  font-family: inherit;
  display: unset;
  margin: unset;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
